html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
  body{
    text-align: center;
    height: 100%;
    width:100% ;
  }
  section{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .filterDivs{
    display: block;
    width: 10%;
    margin: auto;
  }
  #filters{
    display: flex;
    justify-content: space-around ;
    padding-left: 15px;
    padding-right: 15px;
    overflow: hidden;
    width: 100%;
  }
  #pagesdiv{
    display:flex;
    width: 10%;
    justify-content: flex-end;
  }
  #transactions{
    display: inline-block;
    justify-content: center;
    margin-top: 30px;
  }
  #pageNav{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #pagesize{
    width:35%;
  }
  table, th, td {
    border: 1px solid;
    border-collapse: collapse;
  }
  #lower,#upper{
    width: 100%;
  }
  select{
      width: 100%;
  }